version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: uva_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: uvaproject
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    healthcheck:
      interval: 5s
      retries: 5
    restart: always

volumes:
  postgres_data: